  style.css
body{

margin:0;

font-family:Arial;

background: linear-gradient(135deg,#667eea,#764ba2);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

background: rgba(255,255,255,0.2);

padding:40px;

border-radius:15px;

color:white;

text-align:center;

}

button{

padding:10px;

margin:10px;

width:200px;

border:none;

border-radius:8px;

background:#ff7eb3;

color:white;

}